<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/svg" href=" {{ '/assets/img/dev_icon.svg' | prepend: site.baseurl }}">

{% seo %}
<link rel="stylesheet" href= "{{ '/assets/css/style.css' | prepend: site.baseurl }}" >

<link rel="stylesheet" href= "{{ '/assets/css/print.css' | prepend: site.baseurl }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </header>

      <div id="banner">

        {% if site.show_downloads %}
          <div class="downloads">
            <span>Descargar:</span>
            <ul>
              <li><a href="{{ site.downloads.pdf_url }}" class="button">PDF</a></li>
            </ul>
          </div>
        {% endif %}

      <div class="div_menu">
      {%- for section in site.sections -%}
      <span>
        <h3>
          <a class="titles_menu" href="{{ section.url | append: '.html'  }}">
            {{ section.name }}
          </a>
        </h3>
      </span>
      {%- endfor -%}

      </div>

      </div><!-- end banner -->

    <div class="wrapper">
      <section>
        {{ content }}

      </section>
      <footer>
        <div >
          <h4> Info y  Contacto: </h4>
          <div class="contacto" >
            <img src="{{ '/assets/img/email.svg' | prepend: site.baseurl  }}" />  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </div>
          <div class="contacto" >
                  <img src="{{ '/assets/img/github.svg' | prepend: site.baseurl }}" /> <a href="{{ site.github.repository_url }}" > {{ site.github.repository_url | split: ".com" | last }} </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
