<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/svg" href=" {{ '/assets/img/dev_icon.svg' | prepend: site.baseurl }}">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </header>

      <div id="banner">

        <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        {% if site.show_downloads %}
          <div class="downloads">
            <span>Descargar:</span>
            <ul>
              <li><a href="{{ site.downloads.pdf_url }}" class="button">PDF</a></li>
            </ul>
          </div>
        {% endif %}
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul>
      {%- for section in site.sections -%}
      <li>
        <h3>
          <a class="post-link" href="{{ section.url | append: '.html'  }}">
            {{ section.name }}
          </a>
        </h3>
      </li>
      {%- endfor -%}

        </ul>
      </nav>
      <section>
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p> <img src="{{ '/assets/img/email.svg' | prepend: site.baseurl  }}" />  <a href="mailto:{{ site.email }}">{{ site.author_name }}</a></p>
        {% endif %}
      </footer>
    </div>
  </body>
</html>
